.div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
}

@media (max-width: 900px) {
  .div{
    gap: 4rem;
  }
}

@media (max-width: 700px) {
  .div{
    gap: 3rem;
  }
}