.div{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  background-color: purple;
  margin: 1rem;

  &:hover{
    background-color: cadetblue;
    color: white;
  }
  >svg{
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
}