.notes {
    list-style: none;
    margin: 0;
    padding: 0;
}

.note {
    display: flex;
    align-items: flex-start;
    font-size: 17px;
    gap: 6px;
    line-height: 1.3;
    font-weight: 500;
    color: #8b989e;
    white-space: pre-line;
}

.dot {
    width: 6px;
    height: 6px;
    min-width: 6px;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #8b989e;
}
