.overlay_block_right {
  position: absolute;
  top: 0;
  right: 1%;
  width: 100%;
  max-width: 550px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10;
  padding-top: 50px;
}

.overlay_block_right_title,
.overlay_block_right_text {
  font-family: 'Open Sans', sans-serif;
  color: white;
  width: 100%;
}

.overlay_block_right_title {
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.overlay_block_right_text {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 2rem;
}

@media (max-width: 1600px) {
  .overlay_block_right {
    max-width: 429px;
    height: 390px;
    padding-top: 39px;

  }

  .overlay_block_right_title {
    font-size: 2.34rem;
  }

  .overlay_block_right_text {
    font-size: 1.56rem;
    margin-top: 0.78rem;
  }
}


@media (max-width: 1200px) {
  .overlay_block_right {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    max-width: none;
    background: #0a0b10;
    height: auto;
    padding-top: 20px;
    align-items: center;
    text-align: center;
  }

  .overlay_block_right_title,
  .overlay_block_right_text {
    width: auto;
  }
}

