.table_info{
  box-shadow: 0px 0px 3px rgba(244, 191, 88, 0.7);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.th_lattice{
  display: none;
}

@media (max-width: 750px) {
  .th_place {
    display: none;
  }
  .th_lattice{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}