.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #f0f6fc;
    padding: 0.5rem 1.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    background: linear-gradient(to right, rgba(40, 64, 83, 0.59), rgba(131, 51, 18, 0) 60%);
}

.icon {
    height: 1.5rem;
    width: auto;
    flex-shrink: 0;
}
